 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
  
}

.header {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
}

.logo img {
  height: 45px;
  margin-right: 30px;

}

.nav {
  display: flex;
 text-align: center ;
  gap: 10px;
}

.nav a {
   
  text-decoration: none;
  color: #646262;
  font-size: 15px;
  padding: 8px 12px;
}

.nav a.active {
  background: #f58220;
  color: #646262;
  position: relative;
}

.nav a.active::after {
  content: "";
  position: absolute;
  bottom: -30px;          /* ينزل لتحت */
  right: 0;
  width: 100%;
  height: 30px;
  background: #f58220;
}

.lang {

  background: #DBE5EE;
  color:#707070 ;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  margin-right: 100px;
}


.hero {
  position: relative;
  background: #0F76BC;
  height: 520px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero-container {
  width: 100%;
  padding: 0 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* z-index: 2; */
}
img{
    width: 100%;
}


/* صورة الشاحنة */


.hero-img .line{
    position:absolute;
    left: 0;
    bottom: 155px;
    
    z-index: 1; 
    
}
.hero-img .truck{
    z-index: 2;
    position: relative;
}
.hero-img .line {
    width: 800px;
}



/* النص */
.hero-content {
  max-width: 500px;
  color: #fff;
}

.hero-content h1 {
  font-size: 34px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 15px;
  line-height: 1.8;
  opacity: 0.9;
  margin-bottom: 25px;
}


 .search-box{
    display: flex;
    align-items: center;
    
    position: relative;
 }
 .search-box input{
    width: 400px;
    height: 40px;
    text-align: end;
    padding-right: 50px;
    border-radius: 60px;
    /* padding:20px 0; */
    padding-top:25px ;
    padding-bottom:25px ;
    border: none;
 }


 .search-box button{
position: absolute;
left: 7px;
height: 40px;
width: 120px;
border-radius: 60px;
background-color: #f58220;
color: white;
border: none;
 }
 .search-box .icon-search{
    color: burlywood;
position: absolute;
right: 105px;
height: 40px;
width: 40px;
text-align: center;
line-height: 40px;
/* background-color: #f58220; */
 }
